inter/
old/
logs/
essay preprocessing/
notebooks/
__pycache__/
myutils*/
academic_dataset.jsonl
marker_help.txt
*.out
test.ipynb
extraction_results.json
*.log
data_old/
src/old/
test2.ipynb

# 1. Ignore all files or folders that start with "test"
test*

# 2. Ignore all folders starting with "old"
old*/
src/old/


# 4. Ignore all files starting with "output" 
output*

# 5. Ignore "scripts_gen.txt"
scipts_gen.txt
experiments/

dataset_construction/
src/detectors/

.env

monitor*
cp_*



lem_text_*
tr_sty_*
val_sty_*
X_test_*
X_train_*
X_val_*


*.pkl
*.npy
*.npz
*.parquet
*.h5

raw_html/
backup/
old/
*.db-shm
*.db
*.db-wal
*.pt